# Acquire and Prepare

---

This notebook contains all steps taken in the data acquisition and preparation phases of the data science pipeline for the Zillow clustering project. This notebook does rely on helper files so if you want to run the code blocks in this notebook ensure that you have all the helper files in the same directory.

---

## The Required Imports

As stated before this notebook relies on some helper files which are imported below. This notebook also relies on numpy, pandas, matplotlib, seaborn, and sklearn.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

from acquire import AcquireZillow
from prepare import *

---

## Data Acquisition

Here we will acquire the data from the zillow database hosted at data.codeup.com. We are acquiring properties with transaction dates in 2017. Additionally, for any properties with more than one transaction in 2017 we are only acquiring the most recent transaction. Finally, we are acquiring only single unit/single family homes.

In [2]:
# All the code needed to acquire the data is encapsulated in the acquire.py file using the following parameters.
#
# Cache file: zillow.csv
# Database name: zillow
# Hostname: data.codeup.com
# 
# SQL Query:
#
#         SELECT
#             properties_2017.*,
#             logerror,
#             transactiondate,
#             typeconstructiondesc,
#             airconditioningdesc,
#             architecturalstyledesc,
#             buildingclassdesc,
#             propertylandusedesc,
#             storydesc,
#             heatingorsystemdesc
#         FROM properties_2017
#         JOIN predictions_2017 ON properties_2017.parcelid = predictions_2017.parcelid
#             AND predictions_2017.transactiondate LIKE '2017%%'
#         LEFT JOIN typeconstructiontype USING (typeconstructiontypeid)
#         LEFT JOIN airconditioningtype USING (airconditioningtypeid)
#         LEFT JOIN architecturalstyletype USING (architecturalstyletypeid)
#         LEFT JOIN buildingclasstype USING (buildingclasstypeid)
#         LEFT JOIN propertylandusetype USING (propertylandusetypeid)
#         LEFT JOIN storytype USING (storytypeid)
#         LEFT JOIN heatingorsystemtype USING (heatingorsystemtypeid)

#         JOIN (
#             SELECT
#                 parcelid,
#                 MAX(transactiondate) AS date
#             FROM predictions_2017
#             GROUP BY parcelid
#         ) AS max_dates ON properties_2017.parcelid = max_dates.parcelid
#             AND predictions_2017.transactiondate = max_dates.date

#         WHERE latitude IS NOT NULL AND longitude IS NOT NULL;

raw_zillow_data = AcquireZillow().get_data()

/var/folders/95/v52kk6ys7s14hmmc3xm7b1xr0000gn/T/ipykernel_9984/2514580893.py:42: DtypeWarning: Columns (66) have mixed types.Specify dtype option on import or set low_memory=False.
  raw_zillow_data = AcquireZillow().get_data()

In [3]:
# How many observations do we have? 77380
raw_zillow_data.shape

(77380, 72)

In [4]:
# Let's see what columns we can drop before moving on to preparation.
raw_zillow_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77380 entries, 0 to 77379
Data columns (total 72 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   heatingorsystemtypeid         49439 non-null  float64
 1   storytypeid                   50 non-null     float64
 2   propertylandusetypeid         77380 non-null  float64
 3   buildingclasstypeid           15 non-null     float64
 4   architecturalstyletypeid      206 non-null    float64
 5   airconditioningtypeid         24953 non-null  float64
 6   typeconstructiontypeid        222 non-null    float64
 7   id                            77380 non-null  int64
 8   parcelid                      77380 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77380 non-null  float64
 11  bedroomcnt                    77380 non-null  float64
 12  buildingqualitytypeid         49671 non-null  float64
 13  calculatedbathnbr             76771 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6023 non-null   float64
 16  calculatedfinishedsquarefeet  77184 non-null  float64
 17  finishedsquarefeet12          73748 non-null  float64
 18  finishedsquarefeet13          41 non-null     float64
 19  finishedsquarefeet15          3009 non-null   float64
 20  finishedsquarefeet50          6023 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77380 non-null  float64
 23  fireplacecnt                  8276 non-null   float64
 24  fullbathcnt                   76771 non-null  float64
 25  garagecarcnt                  25474 non-null  float64
 26  garagetotalsqft               25474 non-null  float64
 27  hashottuborspa                1538 non-null   float64
 28  latitude                      77380 non-null  float64
 29  longitude                     77380 non-null  float64
 30  lotsizesquarefeet             69141 non-null  float64
 31  poolcnt                       16137 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  464 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15042 non-null  float64
 36  propertycountylandusecode     77380 non-null  object
 37  propertyzoningdesc            50330 non-null  object
 38  rawcensustractandblock        77380 non-null  float64
 39  regionidcity                  75909 non-null  float64
 40  regionidcounty                77380 non-null  float64
 41  regionidneighborhood          30890 non-null  float64
 42  regionidzip                   77330 non-null  float64
 43  roomcnt                       77380 non-null  float64
 44  threequarterbathnbr           10096 non-null  float64
 45  unitcnt                       50562 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77117 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77268 non-null  float64
 52  taxvaluedollarcnt             77379 non-null  float64
 53  assessmentyear                77380 non-null  float64
 54  landtaxvaluedollarcnt         77378 non-null  float64
 55  taxamount                     77375 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77136 non-null  float64
 59  id.1                          77380 non-null  int64
 60  parcelid.1                    77380 non-null  int64
 61  logerror                      77380 non-null  float64
 62  transactiondate               77380 non-null  object
 63  typeconstructiondesc          222 non-null    object
 64  airconditioningdesc           24953 non-null  object
 65  architecturalstyledesc        206 non-null    object
 66  buildingclassdesc             15 non-null     object
 67  propertylandusedesc           77380 non-null  object
 68  storydesc                     50 non-null     object
 69  heatingorsystemdesc           49439 non-null  object
 70  parcelid.2                    77380 non-null  int64
 71  date                          77380 non-null  object
dtypes: float64(55), int64(5), object(12)
memory usage: 42.5+ MB

In [5]:
# Let's drop all the foreign key id columns, those will be useless to us.
drop_columns = [
    'heatingorsystemtypeid',
    'storytypeid',
    'propertylandusetypeid',
    'buildingclasstypeid',
    'architecturalstyletypeid',
    'airconditioningtypeid',
    'typeconstructiontypeid',
    'id',
    'parcelid'
]

raw_zillow_data = raw_zillow_data.drop(columns = drop_columns)
raw_zillow_data.shape

(77380, 63)

In [6]:
# Let's make sure it worked.
raw_zillow_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77380 entries, 0 to 77379
Data columns (total 63 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   basementsqft                  50 non-null     float64
 1   bathroomcnt                   77380 non-null  float64
 2   bedroomcnt                    77380 non-null  float64
 3   buildingqualitytypeid         49671 non-null  float64
 4   calculatedbathnbr             76771 non-null  float64
 5   decktypeid                    614 non-null    float64
 6   finishedfloor1squarefeet      6023 non-null   float64
 7   calculatedfinishedsquarefeet  77184 non-null  float64
 8   finishedsquarefeet12          73748 non-null  float64
 9   finishedsquarefeet13          41 non-null     float64
 10  finishedsquarefeet15          3009 non-null   float64
 11  finishedsquarefeet50          6023 non-null   float64
 12  finishedsquarefeet6           386 non-null    float64
 13  fips                          77380 non-null  float64
 14  fireplacecnt                  8276 non-null   float64
 15  fullbathcnt                   76771 non-null  float64
 16  garagecarcnt                  25474 non-null  float64
 17  garagetotalsqft               25474 non-null  float64
 18  hashottuborspa                1538 non-null   float64
 19  latitude                      77380 non-null  float64
 20  longitude                     77380 non-null  float64
 21  lotsizesquarefeet             69141 non-null  float64
 22  poolcnt                       16137 non-null  float64
 23  poolsizesum                   867 non-null    float64
 24  pooltypeid10                  464 non-null    float64
 25  pooltypeid2                   1074 non-null   float64
 26  pooltypeid7                   15042 non-null  float64
 27  propertycountylandusecode     77380 non-null  object
 28  propertyzoningdesc            50330 non-null  object
 29  rawcensustractandblock        77380 non-null  float64
 30  regionidcity                  75909 non-null  float64
 31  regionidcounty                77380 non-null  float64
 32  regionidneighborhood          30890 non-null  float64
 33  regionidzip                   77330 non-null  float64
 34  roomcnt                       77380 non-null  float64
 35  threequarterbathnbr           10096 non-null  float64
 36  unitcnt                       50562 non-null  float64
 37  yardbuildingsqft17            2388 non-null   float64
 38  yardbuildingsqft26            70 non-null     float64
 39  yearbuilt                     77117 non-null  float64
 40  numberofstories               17560 non-null  float64
 41  fireplaceflag                 172 non-null    float64
 42  structuretaxvaluedollarcnt    77268 non-null  float64
 43  taxvaluedollarcnt             77379 non-null  float64
 44  assessmentyear                77380 non-null  float64
 45  landtaxvaluedollarcnt         77378 non-null  float64
 46  taxamount                     77375 non-null  float64
 47  taxdelinquencyflag            2886 non-null   object
 48  taxdelinquencyyear            2886 non-null   float64
 49  censustractandblock           77136 non-null  float64
 50  id.1                          77380 non-null  int64
 51  parcelid.1                    77380 non-null  int64
 52  logerror                      77380 non-null  float64
 53  transactiondate               77380 non-null  object
 54  typeconstructiondesc          222 non-null    object
 55  airconditioningdesc           24953 non-null  object
 56  architecturalstyledesc        206 non-null    object
 57  buildingclassdesc             15 non-null     object
 58  propertylandusedesc           77380 non-null  object
 59  storydesc                     50 non-null     object
 60  heatingorsystemdesc           49439 non-null  object
 61  parcelid.2                    77380 non-null  int64
 62  date                          77380 non-null  object
dtypes: float64(48), int64(3), object(12)
memory usage: 37.2+ MB

Everything looks good. Let's move on to preparation.

---

## Data Preparation

Now we will begin preparing the data. The goal here is to handle all missing values and split the data to prevent data leakage.

---

### First Run Through Pipeline

Here the preparation steps taken in the first run through the pipeline to achieve an MVP will be outlined. We will keep things simple and simply try to drop all the nulls without losing too many rows.

#### Drop Nulls

In [7]:
# Let's set the max rows to display since there will be alot.
pd.set_option('display.max_rows', 70)

# Let's also create a copy of our raw data, since we will be making multiple passes through the pipeline.
zillow = raw_zillow_data.copy()

In [8]:
# Let's see how many null values we have.
summarize_column_nulls(zillow)

                              rows_missing  percent_missing
basementsqft                         77330         0.999354
bathroomcnt                              0         0.000000
bedroomcnt                               0         0.000000
buildingqualitytypeid                27709         0.358090
calculatedbathnbr                      609         0.007870
decktypeid                           76766         0.992065
finishedfloor1squarefeet             71357         0.922163
calculatedfinishedsquarefeet           196         0.002533
finishedsquarefeet12                  3632         0.046937
finishedsquarefeet13                 77339         0.999470
finishedsquarefeet15                 74371         0.961114
finishedsquarefeet50                 71357         0.922163
finishedsquarefeet6                  76994         0.995012
fips                                     0         0.000000
fireplacecnt                         69104         0.893047
fullbathcnt                            609         0.007870
garagecarcnt                         51906         0.670793
garagetotalsqft                      51906         0.670793
hashottuborspa                       75842         0.980124
latitude                                 0         0.000000
longitude                                0         0.000000
lotsizesquarefeet                     8239         0.106475
poolcnt                              61243         0.791458
poolsizesum                          76513         0.988796
pooltypeid10                         76916         0.994004
pooltypeid2                          76306         0.986120
pooltypeid7                          62338         0.805609
propertycountylandusecode                0         0.000000
propertyzoningdesc                   27050         0.349574
rawcensustractandblock                   0         0.000000
regionidcity                          1471         0.019010
regionidcounty                           0         0.000000
regionidneighborhood                 46490         0.600801
regionidzip                             50         0.000646
roomcnt                                  0         0.000000
threequarterbathnbr                  67284         0.869527
unitcnt                              26818         0.346575
yardbuildingsqft17                   74992         0.969139
yardbuildingsqft26                   77310         0.999095
yearbuilt                              263         0.003399
numberofstories                      59820         0.773068
fireplaceflag                        77208         0.997777
structuretaxvaluedollarcnt             112         0.001447
taxvaluedollarcnt                        1         0.000013
assessmentyear                           0         0.000000
landtaxvaluedollarcnt                    2         0.000026
taxamount                                5         0.000065
taxdelinquencyflag                   74494         0.962704
taxdelinquencyyear                   74494         0.962704
censustractandblock                    244         0.003153
id.1                                     0         0.000000
parcelid.1                               0         0.000000
logerror                                 0         0.000000
transactiondate                          0         0.000000
typeconstructiondesc                 77158         0.997131
airconditioningdesc                  52427         0.677526
architecturalstyledesc               77174         0.997338
buildingclassdesc                    77365         0.999806
propertylandusedesc                      0         0.000000
storydesc                            77330         0.999354
heatingorsystemdesc                  27941         0.361088
parcelid.2                               0         0.000000
date                                     0         0.000000

There are some columns with a large number of missing values. We'll drop those to begin with.

In [9]:
# We'll require 80 percent of the column not having missing values for it to not be dropped.
zillow = drop_missing_values(zillow, prop_required_column = 0.8)

In [10]:
# Let's see what we have now.
zillow.shape

(77380, 30)

In [11]:
# Let's check the null counts again.
summarize_column_nulls(zillow)

                              rows_missing  percent_missing
bathroomcnt                              0         0.000000
bedroomcnt                               0         0.000000
calculatedbathnbr                      609         0.007870
calculatedfinishedsquarefeet           196         0.002533
finishedsquarefeet12                  3632         0.046937
fips                                     0         0.000000
fullbathcnt                            609         0.007870
latitude                                 0         0.000000
longitude                                0         0.000000
lotsizesquarefeet                     8239         0.106475
propertycountylandusecode                0         0.000000
rawcensustractandblock                   0         0.000000
regionidcity                          1471         0.019010
regionidcounty                           0         0.000000
regionidzip                             50         0.000646
roomcnt                                  0         0.000000
yearbuilt                              263         0.003399
structuretaxvaluedollarcnt             112         0.001447
taxvaluedollarcnt                        1         0.000013
assessmentyear                           0         0.000000
landtaxvaluedollarcnt                    2         0.000026
taxamount                                5         0.000065
censustractandblock                    244         0.003153
id.1                                     0         0.000000
parcelid.1                               0         0.000000
logerror                                 0         0.000000
transactiondate                          0         0.000000
propertylandusedesc                      0         0.000000
parcelid.2                               0         0.000000
date                                     0         0.000000

There aren't too many missing values remaining so we will try removing all rows with missing values.

In [12]:
# We're going to remove any row with a missing value.
zillow = drop_missing_values(zillow, prop_required_row = 1)

In [13]:
# Let's see what we have.
zillow.shape

(64064, 30)

In [14]:
# Let's make sure it worked.
summarize_column_nulls(zillow).sum()

rows_missing       0.0
percent_missing    0.0
dtype: float64

We're all good. In a second pass we can try handling the missing values in a more sophisticated manner, but before we move on to exploration let's encapsulate all these steps into a function.

#### Put it All in a Function

In [17]:
def prepare(df):
    df_copy = df.copy()
    return drop_missing_values(df_copy, prop_required_column = 0.8, prop_required_row = 1)

In [18]:
# Let's make sure it works.
prepare(raw_zillow_data).shape

(64064, 30)

That matches what we had before. Everything looks good.

---

### Second Run Through Pipeline

something here